@charset "UTF-8"; 
/* 한글 인코딩 */

/* 구글에서 웹 폰트 가져오기 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Nanum Brush Script', cursive;
font-family: 'Nanum Gothic', sans-serif; */

/* naver 회사 소개페이지 > 개발자 도구 > source (~row 135) */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

body,
input,
textarea,
select,
button {
  font-family: "NanumGothic", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
  font-size: 14px;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: top;
}

li,
ol,
ul {
  list-style: none;
}

address,
em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
b,
em {
  font-weight: normal;
}
/* 사용자지정속성 
   변수선언
   1. 선언형식
   선택자의 후손들은 변수 다 상속 받아서 사용가능
   선택자{
    --변수명:값;
   }
 

   2. 사용
   선택자{
    height:var(--변수명)
   }
*/
:root{
  --header-height:80px;
  --primary-color: #1ec545;
  --primary-color-dark: #0fb93c;
}
/* 공통 */
.blind {
  /* 문자 숨기기 기능 */
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/* naver 회사 소개페이지 > 개발자 도구 > source (row 231 ~ row 237) */
body,
html {
  height: 100%;
  font-style: normal;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}
.flex-container {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.test {
  background-color: #d9ff97;
  min-width: 100%;
}
.item {
  background-color: #d2c2df;
  border: 1px solid #000;
}
/* //공통 끝 */
body {
  background-color: #c3c3c3;
}
/* header */
header {
  width: 100%;
  height: var(--header-height);
  background-color: rgb(0, 0, 0, 0.3);
  border: 1px solid #000;
  position: fixed;
}
/* .header_wrap */
.header_wrap {
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header_wrap .header_logo a{
  display: block;
  width: 90px;
  height: 20px;
  background: url(../image/header_logo.png) no-repeat;
  background-position: 50% 50%;
}
/* .header_wrap nav */
.header_wrap nav {
  height: var(--header-height);
}
nav {}
nav ul.gnb_menu {
  font-size:0; /* 
    nav .gnb_menu li.gnb_menu_list,
    nav .gnb_menu li.gnb_menu_list_recruit
    를 display: inline-block; 으로 지정해서 생긴 여백 제거를 위해 */
 
}
nav .gnb_menu li.gnb_menu_list,
nav .gnb_menu li.gnb_menu_list_recruit {
/* li가 수평으로 나란히 오게 하기 */
  display: inline-block;

  /* for test */
  /* background-color: rgb(255, 255, 124);
  border: 1px solid #000; */
}
nav .gnb_menu li.gnb_menu_list a.gnb_menu_item,
nav .gnb_menu li.gnb_menu_list_recruit a.gnb_menu_item {
  /* 
  nav .gnb_menu li.gnb_menu_list:hover a.gnb_menu_item::before,
  nav .gnb_menu li.gnb_menu_list_recruit:hover a.gnb_menu_item::before의 기준조상 */
  position: relative;

  /* 부모가 폰트 사이즈 0으로 지정했으니깐 별도로 자식요소에서 폰트 지정해주기 */
  font-size: 15px;
  /* a 태그는 인라인 레벨이라 자기 크기만큼의 높이와 너비를 가지기에 별도로 지정해줘야 함 */
  display: block;

  /* 요소를 가운데에 오게하는 방법 2가지 */
  /* padding: 29px 0 30px; 상 좌우 하*/
  line-height: var(--header-height);
  margin: 0 30px;

  color: black;
  font-weight: bold;
}

/* 하단 슬라이드 나오게 하려면 hover 전 / 후 모두 css 입력해줘야 함 */
nav .gnb_menu li.gnb_menu_list a.gnb_menu_item::before,
nav .gnb_menu li.gnb_menu_list_recruit a.gnb_menu_item::before {
  /* mousehover시 메뉴 밑에 slide bar 그리기 */
  position: absolute; /* 부모한테 기준조상 지정하기 */
  
  /* 위에 있던 슬라이드 바 밑으로 내리기*/
  left: 0;
  bottom: 1em;
  
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);

  transform: scaleX(0);
  transition: transform 0.2s;
  transform-origin: 100% 0;
}
nav .gnb_menu li.gnb_menu_list:hover a.gnb_menu_item::before,
nav .gnb_menu li.gnb_menu_list_recruit:hover a.gnb_menu_item::before {

  /* 슬라이드 바  순차적으로 나오게 */
  transform: scaleX(1);
  transition: transform 0.2s;
  transform-origin: 0 0;
}
/* //하단 슬라이드 나오게 끝 */

/* 채용 매뉴 옆 아이콘 나오게 */
nav .gnb_menu li.gnb_menu_list_recruit a.gnb_menu_item::after {
  /* mousehover시 채용메뉴 뒤에 아이콘 넣기 */
  transition: transform 1s;
}
nav .gnb_menu li.gnb_menu_list_recruit:hover a.gnb_menu_item::after {
  /* mousehover시 채용메뉴 뒤에 아이콘 넣기 */
  transition: transform 1s;
}
/* //채용 매뉴 옆 아이콘 나오게 끝 */


nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap {
  /* depth 2 시작 - 
  depth 1에 mousehover/mouseenter 시 drop down되는 메뉴
  */
  position: absolute;
  width: 100%;
  left: 0;
  background-color: var(--primary-color);
  display: none; /* 모든 드롭다운 메뉴 보이지 마라, 아래 test 후 flex로 변경해야 함*/ 
}
/* display: none; 이후 1번 메뉴를 위한 테스트 선택자 */
nav .gnb_menu .gnb_menu_list:nth-child(1) ul.gnb_dropMenu_wrap {
    /* .gnb_dropMenu_wrap > li 수평으로 옥 하기 */
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap > li {
  font-size: 14px;
  width: 190px;
  height: 367px;
  padding: 28px 0 0;
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap > li:hover {
  background-color: var(--primary-color-dark);
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap li .gnb_dropMenu {
padding-left: 2em;
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap li .gnb_dropMenu .depth_blank {
  margin-bottom: 14px;
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap li .gnb_dropMenu > li {
  margin-bottom: 7px;
}

nav ul.gnb_dropMenu_wrap li .gnb_dropMenu a.gnb_dropMenu_item {
  color: #fff;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu a.gnb_dropMenu_item strong span{
  opacity: 1;
  color: #fff;
  font-weight: bold;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu a.gnb_dropMenu_item span{
  opacity: 0.6;
}
/* //.header_wrap nav 끝 */

/* .header_wrap .header_util*/
.header_wrap .header_util {}
/* //.header_wrap .header_util 끝*/
/* //.header_wrap끝 */
/* //header 끝 */
/* container */
.container {
  padding: 80px 0 160px;
  background-color: #8c9ec0;
}