@charset "UTF-8"; 
/* 한글 인코딩 */

/* 구글에서 웹 폰트 가져오기 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Nanum Brush Script', cursive;
font-family: 'Nanum Gothic', sans-serif; */

/* naver 회사 소개페이지 > 개발자 도구 > source (~row 135) */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

body,
input,
textarea,
select,
button {
  font-family: "NanumGothic", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
  font-size: 14px;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: top;
}

li,
ol,
ul {
  list-style: none;
}

address,
em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
b,
em {
  font-weight: normal;
}
/* 공통 */
.blind {
  /* 문자 숨기기 기능 */
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/* naver 회사 소개페이지 > 개발자 도구 > source (row 231 ~ row 237) */
body,
html {
  height: 100%;
  font-style: normal;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}
.flex-container {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.item {
  background-color: rgb(0, 0, 255, 0.5); /* for test*/
  border: 1px solid #000; /* for test*/
}
.test {
  /* 가상의 dummy */
  background-color: #000000;
  min-height: 100%;
}
/* /공통 끝 */
body {
  background-color: #ccc;
}
/* header */
header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #000;
}
.header_wrap {
  max-width: 1440px;
  margin: 0 auto;
  /* display: flex;
  display: flex > 자식 class의 flex:none; 후 여백 나눠가져라
  > flex-container & item으로 별도 클래스 지정해줬기 때문에 주석처리 */
  justify-content: space-between;
  align-items: center;
}
/* .header_wrap .header_logo,
.header_wrap nav,
.header_wrap .header_util {
  flex: none; 
}*/
.header_wrap .header_logo a{
  display: block;
  width: 90px;
  height: 20px;
  background: url(../image/header_logo.png) no-repeat 50% 50%;
  /* bacground-repeat & background-position */
}
.header_wrap nav {}
.header_wrap .header_util {}
/* //header */
/* .container */
.container { /* for test*/
  padding: 80px 0 160px; /* header position 때문에 밀어버림*/
  background-color: #9ab1fb; /* for test */
}
/* //.container */